.button_settings {
    -fx-background-color: #444;
    -fx-text-fill: #dad8d8;
}
.button_settings:hover {
    -fx-text-fill: #444;
    -fx-background-color: #dad8d8;
}

.settingsButt {
    -fx-background-color: transparent;
}
.settingsButt:hover {
    -fx-background-color: #9e9e9e;
}

.downloadButt {
    -fx-background-color: transparent;
}
.downloadButt:hover {
    -fx-background-color: #9e9e9e;
}
.buttonAboutSettWallPage:hover {
}
.backButt {
   -fx-background-color: transparent;
}
.backButt:hover {
    -fx-background-color: #9e9e9e;
}

.ButtonBrowse {
    -fx-background-color: #dad8da;

}

.ButtonBrowse:hover {
    -fx-background-color: #4763ff;
}

.ButtonsDownOpenSet {
    -fx-border-color: white;
    -fx-background-color: transparent;
    -fx-border-radius: 19px;
    -fx-border-width: 3px;
    -fx-background-radius: 29,8,5,4;
    
}
.ButtonsDownOpenSet:hover {
    -fx-background-color: #f1f1f1;
}

.alertDialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #f1f1f1;
    -fx-font-family: "Courier New";
}
.alertDialog {
    -fx-background-color: #444;
}

.alertDialog .button{
    -fx-background-color: #444;
    -fx-text-fill:white;
    -fx-font-weight:bold; 
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
    -fx-background-radius: 29,8,5,4;
    -fx-border-color: white;
    -fx-wrap-text: true;
    -fx-effect: dropshadow( three-pass-box, #f1f1f1, 10.0, 0.0, 0.0, 0.0);
    -fx-cursor:hand;
  }
 
 .alertDialog .button:hover{     
   -fx-background-color:#f1f1f1;
  }