.button_settings {
    -fx-background-color: #444;
    -fx-text-fill: #dad8d8;
}
.button_settings:hover {
    -fx-text-fill: #444;
    -fx-background-color: #dad8d8;
}

.settingsButt {
    -fx-background-color: transparent;
}
.settingsButt:hover {
    -fx-background-color: #9e9e9e;
}

.downloadButt {
    -fx-background-color: transparent;
}
.downloadButt:hover {
    -fx-background-color: #9e9e9e;
}
.buttonAboutSettWallPage:hover {
}
.backButt {
   -fx-background-color: transparent;
}
.backButt:hover {
    -fx-background-color: #9e9e9e;
}

.ButtonBrowse {
    -fx-background-color: #dad8da;

}

.ButtonBrowse:hover {
    -fx-background-color: #4763ff;
}
.imgHover:hover {
    webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
}